Magic 271485
Revision Verdi_Q-2020.03

; Window Layout <x> <y> <width> <height> <signalwidth> <valuewidth>
viewPort 0 25 1920 760 354 159

; File list:
; openDirFile [-d delimiter] [-s time_offset] [-rf auto_bus_rule_file] path_name file_name
openDirFile -d / "" "/home/t112830043/synaptic-core-asic/sim/top_tb/top_tb.fsdb"

; file time scale:
; fileTimeScale ### s|ms|us|ns|ps

; signal spacing:
signalSpacing 5

; windowTimeUnit is used for zoom, cursor & marker
; waveform viewport range
zoom 0.000000 28992050.000000
cursor 9625000.000000
marker 0.000000

; user define markers
; userMarker time_pos marker_name color linestyle
; visible top row signal index
top 1
; marker line index
markerPos 3

; event list
; addEvent event_name event_expression
; curEvent event_name



COMPLEX_EVENT_BEGIN


COMPLEX_EVENT_END



; toolbar current search type
; curSTATUS search_type
curSTATUS ByChange


addGroup "G1"
activeDirFile "" "/home/t112830043/synaptic-core-asic/sim/top_tb/top_tb.fsdb"
addSignal -h 15 /top_tb/uut/u_spike_gen/u_layer1_top/u_generator/clk
addSignal -h 15 -holdScope start
addSignal -h 18 /top_tb/uut/start_loading
addSignal -h 15 /top_tb/uut/u_spike_gen/u_layer1_top/u_generator/rst_n
addSignal -h 15 -holdScope accumulate_en
addSignal -h 15 -holdScope busy
addSignal -h 15 -holdScope finish
addSignal -h 15 -holdScope state[2:0]
addSignal -h 15 -holdScope next_state[2:0]
addSignal -h 15 /top_tb/uut/current_mode[1:0]
addSignal -h 15 -UNSIGNED -UDEC /top_tb/uut/u_spike_gen/u_layer1_top/u_generator/cur_batch_cnt[6:0]
addSignal -h 15 -holdScope req_addr[6:0]
addSignal -h 15 /top_tb/uut/pixel_valid
addSignal -h 15 -holdScope data_in[15:0]
addSignal -h 15 /top_tb/uut/u_spike_gen/u_layer1_top/u_generator/pixel_data_in[63:0]
addSignal -h 15 /top_tb/uut/data_64bit_reg[63:0]
addSignal -h 15 /top_tb/uut/u_spike_gen/trace_data_out[63:0]
addGroup "G2"
addSignal -h 15 /top_tb/uut/u_spike_gen/u_layer1_top/u_generator/spike_valid
addSignal -h 15 -UNSIGNED -BIN -holdScope spikes_internal[7:0]
addSignal -h 15 -UNSIGNED -BIN -holdScope spike_data_out[7:0]
addGroup "G3"
addSignal -h 15 /top_tb/uut/u_spike_gen/u_layer1_top/u_generator/sram_rdata[95:0]
addSignal -h 15 -holdScope sram_wdata_comb[95:0]
addSignal -h 15 -holdScope state_sram[0:97]
addGroup "G4"
addSignal -h 15 /top_tb/uut/u_spike_gen/u_layer1_top/u_generator/lif_gen[0]/pixel_in[7:0]
addSignal -h 15 -holdScope ref_old[3:0]
addSignal -h 15 -holdScope v_old[7:0]
addSignal -h 15 -holdScope ref_new[3:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope v_new[7:0]
addGroup "G5"

; getSignalForm Scope Hierarchy Status
; active file of getSignalForm
activeDirFile "" "/home/t112830043/synaptic-core-asic/sim/top_tb/top_tb.fsdb"

GETSIGNALFORM_SCOPE_HIERARCHY_BEGIN
getSignalForm close

"/top_tb"
"/top_tb/uut"
"/top_tb/uut/u_post_block"
"/top_tb/uut/u_post_block/u_lif_neuron"
"/top_tb/uut/u_weight_mem"

SCOPE_LIST_BEGIN
"/layer1_buffer_wrapper"
"/top_tb"
"/top_tb/uut/u_weight_mem"
"/top_tb/uut/u_spike_gen"
"/top_tb/uut/u_spike_gen/u_layer1_top"
"/top_tb/uut/u_spike_gen/u_layer1_top/u_generator"
"/top_tb/uut"
"/top_tb/uut/u_spike_gen/u_layer1_top/u_generator/lif_gen[0]"
"/top_tb/uut/u_spike_gen/u_trace_manager/trace_cores[0]"
"/top_tb/uut/u_spike_gen/u_trace_manager/trace_cores[2]"
"/top_tb/uut/u_spike_gen/u_trace_manager/trace_cores[1]"
"/top_tb/uut/u_post_block/u_lif_neuron"
SCOPE_LIST_END

GETSIGNALFORM_SCOPE_HIERARCHY_END


