Magic 271485
Revision Verdi_Q-2020.03

; Window Layout <x> <y> <width> <height> <signalwidth> <valuewidth>
viewPort 769 31 766 784 251 100

; File list:
; openDirFile [-d delimiter] [-s time_offset] [-rf auto_bus_rule_file] path_name file_name
openDirFile -d / "" "/home/t112810019/synaptic_core/synaptic-core-asic/sim/top_tb/top_tb.fsdb"

; file time scale:
; fileTimeScale ### s|ms|us|ns|ps

; signal spacing:
signalSpacing 5

; windowTimeUnit is used for zoom, cursor & marker
; waveform viewport range
zoom 0.000000 17750750.000000
cursor 11979619.69179067761
marker 0.000000

; user define markers
; userMarker time_pos marker_name color linestyle
; visible top row signal index
top 0
; marker line index
markerPos 17

; event list
; addEvent event_name event_expression
; curEvent event_name



COMPLEX_EVENT_BEGIN


COMPLEX_EVENT_END



; toolbar current search type
; curSTATUS search_type
curSTATUS ByChange


addGroup "G1"
addGroup "G2"
activeDirFile "" "/home/t112810019/synaptic_core/synaptic-core-asic/sim/top_tb/top_tb.fsdb"
addSignal -h 15 /top_tb/uut/post_synaptic_block/u_lif_neuron/clk
addSignal -h 15 -holdScope rst_n
addSignal -h 15 -holdScope accum_en
addSignal -h 15 -holdScope state_reg[1:0]
addSignal -h 15 -holdScope state_next[1:0]
addSignal -h 15 -holdScope V_next_valid
addSignal -h 15 -holdScope weight_grp_cnt[6:0]
addSignal -h 15 -holdScope weight_mem[63:0]
addSignal -h 15 -holdScope V_mem[18:0]
addSignal -h 15 -holdScope V_mem_leak[18:0]
addSignal -h 15 -holdScope V_mem_next[18:0]
addSignal -h 15 -holdScope i_syn_accum[17:0]
addSignal -h 15 -holdScope i_syn_group[17:0]
addSignal -h 15 -holdScope i_syn_hold[17:0]
addSignal -h 15 -holdScope i_syn_valid
addSignal -h 15 -holdScope i_syn_to_int[17:0]
addSignal -h 15 -holdScope post_spike
addSignal -h 15 -holdScope ref_active
addGroup "G3"

; getSignalForm Scope Hierarchy Status
; active file of getSignalForm
activeDirFile "" "/home/t112810019/synaptic_core/synaptic-core-asic/sim/top_tb/top_tb.fsdb"

GETSIGNALFORM_SCOPE_HIERARCHY_BEGIN
getSignalForm close

"/top_tb"
"/top_tb/uut"
"/top_tb/uut/post_synaptic_block"
"/top_tb/uut/post_synaptic_block/u_lif_neuron"

SCOPE_LIST_BEGIN
"/top_tb"
"/top_tb/uut/u_post_block/u_lif_neuron"
"/top_tb/uut/post_synaptic_block/u_lif_neuron"
"/top_tb/uut"
"/top_tb/uut/post_synaptic_block"
SCOPE_LIST_END

GETSIGNALFORM_SCOPE_HIERARCHY_END


