Magic 271485
Revision Verdi_Q-2020.03

; Window Layout <x> <y> <width> <height> <signalwidth> <valuewidth>
viewPort 0 25 1536 431 205 65

; File list:
; openDirFile [-d delimiter] [-s time_offset] [-rf auto_bus_rule_file] path_name file_name
openDirFile -d / "" "/home/t112810019/synaptic_core/synaptic-core-asic/sim/top_tb/top_tb.fsdb"

; file time scale:
; fileTimeScale ### s|ms|us|ns|ps

; signal spacing:
signalSpacing 5

; windowTimeUnit is used for zoom, cursor & marker
; waveform viewport range
zoom 5824519.728399 6277488.478399
cursor 6015000.000000
marker 0.000000

; user define markers
; userMarker time_pos marker_name color linestyle
; visible top row signal index
top 4
; marker line index
markerPos 23

; event list
; addEvent event_name event_expression
; curEvent event_name



COMPLEX_EVENT_BEGIN


COMPLEX_EVENT_END



; toolbar current search type
; curSTATUS search_type
curSTATUS ByChange


addGroup "G1"
activeDirFile "" "/home/t112810019/synaptic_core/synaptic-core-asic/sim/top_tb/top_tb.fsdb"
addSignal -h 15 /top_tb/clk
addSignal -h 15 -holdScope start_loading
addSignal -h 15 -holdScope data_in[15:0]
addSignal -h 15 -UNSIGNED -UDEC -holdScope addr_in[6:0]
addSignal -h 15 /top_tb/uut/finish
addGroup "G2"
addSignal -h 15 -UNSIGNED -UDEC /top_tb/uut/current_mode[1:0]
addSignal -h 15 -holdScope data_cnt[1:0]
addGroup "G3"
addSignal -h 15 /top_tb/uut/data_64bit_reg[63:0]
addGroup "u_spike_gen"
addSignal -h 15 /top_tb/uut/u_spike_gen/start
addSignal -h 15 -holdScope accumulate_en
addSignal -h 15 -holdScope pixel_data_in[63:0]
addSignal -h 15 -UNSIGNED -UDEC -holdScope req_addr[6:0]
addSignal -h 15 -holdScope L1_busy
addSignal -h 15 -holdScope L1_done
addSignal -h 15 -holdScope spike_data_out[7:0]
addSignal -h 15 -holdScope spike_valid_out
addSignal -h 15 -holdScope trace_data_out[63:0]
addSignal -h 15 /top_tb/uut/u_spike_gen/u_layer1_top/u_generator/state[2:0]
addGroup "G5"
addSignal -expanded -h 15 /top_tb/uut/u_spike_gen/u_layer1_top/u_generator/state_sram[0:97]
addGroup "G6"

; getSignalForm Scope Hierarchy Status
; active file of getSignalForm

